@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #ebd8ad;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    position: relative;
}

body::before {
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(assets/background-img.png);
    content: "";
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
}

button {
    background-color: #b44307;
    color: #ebd8ad;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 115px;
}

button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

button:active {
    opacity: 0.6;
    transition: 0.2s;
}

header {
    display: flex;
    padding: 20px 0 0 2%;
    width:55%;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    height: 100%
}

li {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #6b2906;
    background-color: #b44307;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;


    img {
        width: 100%;
        padding: 5px;
        border-radius: 15px;
        border: 1px solid #6b2906;

    }
}

li:hover {
    opacity: 0.8;
    transition: 0.5s;
}

li:active {
    opacity: 0.6;
    transition: 0.2s;
}

ul {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    margin-top: 30px;
    gap: 20px;
}

.burger-img {
    width: 60%;
    filter: drop-shadow(0 0 0.75rem #d6a227);
    min-width: 290px;
}

.burger-container {
    width: 50%;
    height: 88%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5%;
    gap: 50px;
    width: 100%;

    a {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
    }
}

.menu-button {
    width: 23%;
    height: 60px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    min-width: 250px;
}

.menu-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2.5rem;
}

.menu-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-bottom: 30px;

    button {
        width: 8rem;
        height: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 3px;
    }
}

.order-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.price-burger {
    color: #36d85e;
}

.slogan {
    font-size: 3.5em;
    text-align: center;

    span {
        color: #d6a227;
        text-decoration: underline;
    }
}

.title {
    font-size: 33px;
    cursor: pointer;
    color: #d6a227;

    span {
        color: rgb(255, 49, 49);
        text-decoration: underline;
    }
}


@media screen and (max-width: 1400px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        padding-left: 0;
        gap: 30px;
    }

    li {
        min-width: 200px;

        img {
            min-width: 200px;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
            grid-template-columns: 20% 20% 20%;
    }

    .burger-container {
        width: 100%;
        height: 50%;
    }

    .burger-img {
        width: 50%;
        max-width: 500px;
    }

    .main-nav {
        padding: 0%;
    }

    .menu-container {
        width: 100%;
        height: 50%;
        margin-top: 60px;
    }

    .menu-nav {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {

    li {
        min-width: 100px;

        img {
            min-width: 100px;
        }
    }

    ul {
        grid-template-columns: 25% 25% 25%;
    }

}

@media screen and (max-width: 800px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    .name-burger {
        font-size: 15px;
    }

    .order-button {
        min-width: 140px;
    }

    .price-burger {
        font-size: 15px;
    }

    .slogan {
        font-size: 38px;
    }

    .title {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {

    ul {
        grid-template-columns: 37% 37%;
    }

    .main-nav {
        gap: 40px;
    }

    .menu-button {
        min-width: 170px;
        height: 40px;
        font-size: 30px;
    }

    .menu-nav {
    gap: 15px;

    button {
        width: 5rem;
        font-size: 15px;
        min-width: 100px;
    }
}

    .name-burger {
        font-size: 20px;
    }

    .order-button {
        height: 50px;
        min-width: 90px;
    }

    .price-burger {
        font-size: 20px;
    }

}

@media screen and (max-width: 400px) {

    .name-burger {
        font-size: 15px;
    }

    .price-burger {
        font-size: 15px;
    }

    .slogan {
        font-size: 32px;
    }

}